<nav>
  <div class="nav-wrapper navbar-fixed black">
    <a id="logo-container" href="{{site.baseurl}}/" class="brand-logo "><img class="logo" src="images/logo.jpg" alt="estospanas logo" /></a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href={{site.baseurl}}/>Inicio</a></li>
      <li><a href="#quienessomos">Quiénes Somos</a></li>
      <li><a href="#horario">Tours</a></li>
      <li><a href="#ubicacion">Reservar</a></li>
      <li><a href="#ubicacion">Blog</a></li>
      <li><a id="languages1" href="{{site.baseurl}}/">ESP |</a></li>
      <li><a id="languages2" href="#ubicacion">ENG</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href={{site.baseurl}}/>Inicio</a></li>
      <li><a href="#quienessomos">Quiénes Somos</a></li>
      <li><a href="#horario">Tours</a></li>
      <li><a href="#ubicacion">Reservar</a></li>
      <li><a href="#ubicacion">Blog</a></li>
      <li><a id="languages1" href="{{site.baseurl}}/">ESP |</a></li>
      <li><a id="languages2" href="#ubicacion">ENG</a></li>
    </ul>
  </div>
</nav>
